<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Perkapalan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/kapal">Kapal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dpi">DPI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/alattangkap">Alat Tangkap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/pemilik">Pemilik</a>
        </li>
      </ul>
    </div>
</nav>