<%- include('../partials/header') %>
    <div class="container mt-5">
        <form action="/dpi/store" method="POST">
            <div class="mb-3">
                <label for="nama_keahlian" class="form-label">Nama DPI</label>
                <input type="text" class="form-control" name="nama_dpi" required>
            </div>
            <div class="mb-3">
                <label for="nama_keahlian" class="form-label">Luas</label>
                <input type="text" class="form-control" name="luas" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
            </div>
        </form>
    </div>
<%- include('../partials/footer') %>